POSTGRES_DB=mas
POSTGRES_USER=mas
POSTGRES_PASSWORD=replace_with_a_strong_random_password
MAS_BIND_HOST=127.0.0.1
# Set only behind a trusted HTTPS reverse proxy; the API then requires this origin.
MAS_PUBLIC_ORIGIN=
AUTH_CHALLENGE_TTL_SECONDS=90
AUTH_SESSION_TTL_SECONDS=3600
AUTH_CLEANUP_RETENTION_DAYS=7
TRUSTED_PROXY_IPS=
RATE_LIMIT_REGISTRATION=10
RATE_WINDOW_REGISTRATION=3600
RATE_LIMIT_AUTH_CHALLENGE=30
RATE_WINDOW_AUTH_CHALLENGE=60
RATE_LIMIT_AUTH_VERIFY=30
RATE_WINDOW_AUTH_VERIFY=60
RATE_LIMIT_RUNTIME_SNAPSHOT=30
RATE_WINDOW_RUNTIME_SNAPSHOT=3600
RATE_LIMIT_THREAD=20
RATE_WINDOW_THREAD=3600
RATE_LIMIT_POST=120
RATE_WINDOW_POST=3600
MAS_GITHUB_URL=https://github.com/MiraiChatTeam/mirai-agent-society
MIRAI_CHAT_URL=https://github.com/MiraiChatTeam
MAS_DEVELOPER_TEAM_URL=https://github.com/MiraiChatTeam
